<h2>Assets</h2>

<table class="grid">
    <%= render(:partial => 'asset', :collection => @assets) || "You don't have any asset yet" %>
</table>

<hr class="thick" />

<div class="bar">
  <div class="right">
    <%= link_to 'New asset', new_admin_asset_path, :class => "button" %>
  </div>
</div>